:root {
  --middle-panel-bg-color: unset;
  --sidebar-bg-color: #f9fbfa;
  --right-panel-bg-color: #001e2b;
  --sidebar-text-color: black;
  --text-primary-color: #1c2d38;
  --text-secondary-color: #3e647c;
  --api-header-color: #00684a;

  --resource-version-pill-bg: #e8edeb;
  --resource-version-pill-color: #001e2b;
  --download-btn-border-color: #000000;

  --colors-primary-main: #001e2b;
  --colors-primary-main-light: #006591;
  --colors-primary-main-dark: #000000;

  --colors-success-main: #1d8127;
  --colors-success-main-light: #86e490;
  --colors-success-main-dark: #0a2e0e;

  --absolute-border-color: none;
  --section-divider-color: rgba(0, 0, 0, 0.2);

  --sidebar-hover: #e8edeb;
  --sidebar-active-bg: #e3fcf7;
  --sidebar-active-color: #023430;
  --sidebar-hl: #e7eeec;
  --back-btn-label-color: #5c6c75;

  --underlined-header-color: rgba(38, 50, 56, 0.5);
  --underlined-header-border-color: rgba(38, 50, 56, 0.3);
  --link-blue: #016bf8;
  --schema-lines-color: #001e2b;

  --type-name-color: #1c2d38;
  --type-prefix-color: rgba(28, 45, 56, 0.9);

  --responses-success-color: #00684a;
  --responses-success-bg: #e3fcf7;

  --responses-error-color: #db3030;
  --responses-error-bg: #ffeae5;

  --http-get-bg: #e1f7ff;
  --http-get-border: #c3e7fe;
  --http-get-color: #1254b7;

  --http-post-bg: #e3fcf7;
  --http-post-border: #c0fae6;
  --http-post-color: #00684a;

  --http-patch-bg: #fef7db;
  --http-patch-border: #ffec9e;
  --http-patch-color: #944f01;

  --http-put-bg: #fef7db;
  --http-put-border: #ffec9e;
  --http-put-color: #944f01;

  --http-delete-bg: #ffeae5;
  --http-delete-border: #ffcdc7;
  --http-delete-color: #970606;

  --gray-pill-bg: #f9fbfa;
  --gray-pill-border: #e8edeb;
  --gray-pill-color: #1c2d38;

  --blue-pill-bg: #e1f7ff;
  --blue-pill-border: #c3e7fe;
  --blue-pill-color: #016bf8;

  --require-label-color: #db3030;
  --securities-col-bg: rgb(245, 245, 245);

  --typography-code-color: #1c2d38;
  --typography-code-bg: #f9fbfa;

  --select-btn-color: #001e2b;
  --select-btn-bg: white;
  --select-btn-border: #889397;
  --select-btn-hover-shadow-color: #e8edeb;
  --select-btn-focus-shadow-color: #0498ec;

  --select-ul-border: #e8edeb;
  --select-ul-shadow-color: rgba(0, 30, 43, 0.25);
  --select-ul-bg: white;

  --select-disabled-color: #889397;
  --select-enabled-hover-bg: #e8edeb;

  --select-li-color: #1c2d38;
  --select-li-focus-color: #083c90;
  --select-li-focus-bg: #e1f7ff;
  --select-li-before-focus-bg: #016bf8;

  --html-select-bg: white;
  --html-select-color: #263238;
  --html-select-border: rgba(38, 50, 56, 0.5);

  --arrow-icon: initial;

  --one-of-btn-bg: white;
  --one-of-btn-color: #001e2b;

  --one-of-btn-bg-active: #001e2b;
  --one-of-btn-color-active: white;
}

.dark-theme {
  --middle-panel-bg-color: #001e2b;
  --sidebar-bg-color: #112733;
  --right-panel-bg-color: #001e2b;
  --sidebar-text-color: #e8edeb;
  --text-primary-color: #e8edeb;
  --text-secondary-color: #f7f7f7;
  --api-header-color: #e8edeb;

  --resource-version-pill-bg: #1c2d38;
  --resource-version-pill-color: #e8edeb;
  --download-btn-border-color: #5c6c75;

  --colors-primary-main: #e8edeb;
  --colors-primary-main-light: #afc0b9;
  --colors-primary-main-dark: #fff;

  --colors-success-main: #71f6ba;
  --colors-success-main-light: #00684a;
  --colors-success-main-dark: #023430;

  --absolute-border-color: #3d4f58;
  --section-divider-color: rgba(232, 237, 235, 0.2);

  --sidebar-hover: #1c2d38;
  --sidebar-active-bg: #023430;
  --sidebar-active-color: #e3fcf7;
  --sidebar-hl: #3d4f58;
  --back-btn-label-color: #889397;

  --underlined-header-color: #c1c7c6;
  --underlined-header-border-color: #c1c7c6;
  --link-blue: #0498ec;
  --schema-lines-color: #889397;

  --type-name-color: #e8edeb;
  --type-prefix-color: rgba(232, 237, 235, 0.9);

  --responses-success-color: #c0fae6;
  --responses-success-bg: #023430;

  --responses-error-color: #ffcdc7;
  --responses-error-bg: #5b0000;

  --http-get-bg: #083c90;
  --http-get-border: #1254b7;
  --http-get-color: #c3e7fe;

  --http-post-bg: #023430;
  --http-post-border: #00684a;
  --http-post-color: #00ed64;

  --http-patch-bg: #4c2100;
  --http-patch-border: #944f01;
  --http-patch-color: #ffec9e;

  --http-put-bg: #4c2100;
  --http-put-border: #944f01;
  --http-put-color: #ffec9e;

  --http-delete-bg: #5b0000;
  --http-delete-border: #970606;
  --http-delete-color: #ffcdc7;

  --gray-pill-bg: #5c6c75;
  --gray-pill-border: #889397;
  --gray-pill-color: #f9fbfa;

  --blue-pill-bg: #083c90;
  --blue-pill-border: #1254b7;
  --blue-pill-color: #c3e7fe;

  --require-label-color: #ff6960;
  --securities-col-bg: #1c2d38;

  --typography-code-color: #f9fbfa;
  --typography-code-bg: #5c6c75;

  --select-btn-color: #e8edeb;
  --select-btn-bg: #112733;
  --select-btn-border: #889397;
  --select-btn-hover-shadow-color: #3d4f58;
  --select-btn-focus-shadow-color: #0497ec;

  --select-ul-border: #3d4f58;
  --select-ul-shadow-color: rgba(0, 0, 0, 0.15);
  --select-ul-bg: #112733;

  --select-disabled-color: #5c6c75;
  --select-enabled-hover-bg: #3d4f58;

  --select-li-color: #e8edeb;
  --select-li-focus-color: rgb(225, 247, 255);
  --select-li-focus-bg: rgb(12, 38, 87);
  --select-li-before-focus-bg: rgb(1, 107, 248);

  --html-select-bg: #112733;
  --html-select-color: #889397;
  --html-select-border: #889397;

  --arrow-icon: #c1c7c6;

  --one-of-btn-bg: #001e2b;
  --one-of-btn-color: #c1c7c6;

  --one-of-btn-bg-active: #ffffff;
  --one-of-btn-color-active: #001e2b;
}
